# 1. Data Preprocessing and Cleaning

In [2]:
# Import all the required modules
import pandas as pd
pd.options.display.precision = 2
import matplotlib.pyplot as plt
import seaborn as sns 
import missingno as msno
import numpy as np

In [3]:
df_Marketing = pd.read_csv("Marketing.csv")

In [4]:
df_Marketing.head()

,id,c_date,campaign_name,category,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
0,1,2021-02-01,facebook_tier1,social,349043,148263,7307.37,1210,13,1,4981.0
1,2,2021-02-01,facebOOK_tier2,social,348934,220688,16300.20,1640,48,3,14962.0
2,3,2021-02-01,google_hot,search,89459845,22850,5221.60,457,9,1,7981.0
3,4,2021-02-01,google_wide,search,127823,147038,6037.00,1196,24,1,2114.0
4,5,2021-02-01,youtube_blogger,influencer,10934,225800,29962.20,2258,49,10,84490.0

In [5]:
df_Marketing.describe()

,id,campaign_id,impressions,mark_spent,clicks,leads,orders,revenue
count,308.00,3.08e+02,3.08e+02,308.00,308.00,308.00,308.00,3.08e+02
mean,154.50,9.61e+06,5.12e+06,99321.04,9740.00,212.92,26.11,1.39e+05
std,89.06,2.54e+07,2.63e+07,144008.01,12157.48,300.46,42.74,2.76e+05
min,1.00,1.09e+04,6.67e+02,169.75,20.00,0.00,0.00,0.00e+00
25%,77.75,1.28e+05,1.48e+05,9465.19,1347.25,20.75,3.00,8.58e+03
50%,154.50,3.75e+05,6.03e+05,36765.15,4349.50,84.00,9.00,3.89e+04
75%,231.25,4.39e+06,3.25e+06,129372.25,13499.25,270.50,29.25,1.37e+05
max,308.00,8.95e+07,4.20e+08,880357.00,61195.00,1678.00,369.00,2.81e+06

In [6]:
df_Marketing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             308 non-null    int64
 1   c_date         308 non-null    object
 2   campaign_name  308 non-null    object
 3   category       308 non-null    object
 4   campaign_id    308 non-null    int64
 5   impressions    308 non-null    int64
 6   mark_spent     308 non-null    float64
 7   clicks         308 non-null    int64
 8   leads          308 non-null    int64
 9   orders         308 non-null    int64
 10  revenue        308 non-null    float64
dtypes: float64(2), int64(6), object(3)
memory usage: 26.6+ KB

In [7]:
df_Marketing.isna().sum()

id               0
c_date           0
campaign_name    0
category         0
campaign_id      0
impressions      0
mark_spent       0
clicks           0
leads            0
orders           0
revenue          0
dtype: int64

In [8]:
df_Marketing["c_date"] = pd.to_datetime(df_Marketing["c_date"])

In [9]:
#Create relevant columns
df_Marketing['CTR'] = df_Marketing['clicks'] / df_Marketing['impressions']
df_Marketing['CPL'] = df_Marketing['mark_spent'] / df_Marketing['leads']
df_Marketing['CPA'] = df_Marketing['mark_spent'] / df_Marketing['orders']
df_Marketing['ROAS'] = df_Marketing['revenue'] / df_Marketing['mark_spent']

In [10]:
df_Marketing.to_csv('Marketing_KPI_Enhanced.csv', index=False)

In [13]:
df_Marketing['CPL'].median()   # median CPL

499.2032908027645